@{
    Layout = "_DashBoard";
}
@model Tour

<div class="container-fluid py-4">
    <form method="post" asp-action="AddTour" asp-controller="DashBoard" enctype="multipart/form-data">
        <div class="form-row d-flex gap-4">
            <div class="form-group col-md-6">
                <label asp-for="Name" for="tourName">Tour Name</label>
                <input asp-for="Name" type="text" class="form-control" id="tourName" placeholder="Enter Tour Name" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Distination" for="distination">Distination</label>
                <input asp-for="Distination" type="text" class="form-control" id="distination" placeholder="ex : Canada" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" for="discription">Description</label>
            <input asp-for="Description" type="text" class="form-control" id="discription" />
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col">
                <label asp-for="StartDate" for="StartDate">Start Date</label>
                <input asp-for="StartDate" type="date" class="form-control" id="StartDate" />
            </div>
            <div class="form-group col">
                <label asp-for="EndDate" for="EndDate">End Date</label>
                <input asp-for="EndDate" type="date" class="form-control" id="EndDate" />
            </div>
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col">
                <label asp-for="AdultsTickets" for="price">Adults Tickets</label>
                <input asp-for="AdultsTickets" type="number" class="form-control" id="AdultsTickets" />
            </div>
            <div class="form-group col">
                <label asp-for="ChildrenTickets" for="ChildrenTickets ">Children Tickets </label>
                <input asp-for="ChildrenTickets " type="number" class="form-control" id="ChildrenTickets" />
            </div>
            <div class="form-group col">
                <label asp-for="InfantTickets" for="InfantTickets">Infant Tickets</label>
                <input asp-for="InfantTickets" type="number" class="form-control" id="InfantTickets" />
            </div>
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col-md-6">
                <label asp-for="HotelName" for="HotelName">Hotel Name</label>
                <input asp-for="HotelName" type="text" class="form-control" id="HotelName" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Meals" for="Meals">Meals Type</label>
                <select asp-for="Meals" id="Meals" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Self catering">Self catering</option>
                    <option value="Breakfast included">Breakfast included</option>
                    <option value="All meals included">All meals included</option>
                    <option value="All-inclusive">All-inclusive</option>
                    <option value="Breakfast & lunch included">Breakfast & lunch included</option>
                    <option value="Breakfast & dinner included">Breakfast & dinner included</option>
                </select>
            </div>
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col">
                <label asp-for="Price" for="price">Price</label>
                <input asp-for="Price" type="number" class="form-control" id="price" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input asp-for="GuideIncluded" class="form-check-input" type="checkbox" id="guideCheck" />
                <label asp-for="GuideIncluded" class="form-check-label" for="guideCheck"> Guide Included ? </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="TransportationId" for="Transportation">Transportation Type</label>
                <select asp-for="TransportationId" id="Transportation" class="form-control">
                    <option selected>Choose...</option>
                    <option value="6">Car</option>
                    <option value="9">Plane</option>
                    <option value="5">Bike</option>
                    <option value="7">Bus</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-5 custom-file">
            @* <input  type="file" class="custom-file-input" id="TourPic" /> *@
            <input type="file" name="Image" class="form-control custom-file-input" />
            <label  class="custom-file-label" for="TourPic">Upload Tour Image</label>
        </div>

        <button type="submit" class="btn" style="background-color: #fa8b02; color: #fff; margin: 50px 0">Add Tour</button>
    </form>
</div>