@{
    Layout = "_DashBoard";
}

<div class="container-fluid py-4">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Surname</p>
                </div>
                <div class="col-sm-6">
                    <input class="text-muted mb-0 border-0 bg-opacity-10" type="text" disabled value="Menna Mohamed" />
                </div>
                <div class="col-sm-3">
                    <button id="EditName" class="mb-0 border-0 rounded-3 p-2 w-25" style="background-color: #fa8b02; color: #fff">Edit</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-6">
                    <input class="text-muted mb-0 border-0 bg-opacity-10" type="text" disabled value="example@gmail.com" />
                </div>
                <div class="col-sm-3">
                    <button id="EditEmail" class="mb-0 border-0 rounded-3 p-2 w-25" style="background-color: #fa8b02; color: #fff">Edit</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-6">
                    <input class="text-muted mb-0 border-0 bg-opacity-10" type="text" disabled value="0102226345" />
                </div>
                <div class="col-sm-3">
                    <button id="EditPhone" class="mb-0 border-0 rounded-3 p-2 w-25" style="background-color: #fa8b02; color: #fff">Edit</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Password</p>
                </div>
                <div class="col-sm-6">
                    <input class="text-muted mb-0 border-0 bg-opacity-10" type="text" disabled value="********" />
                </div>
                <div class="col-sm-3">
                    <button id="Editpassword" class="mb-0 border-0 rounded-3 p-2 w-25" style="background-color: #fa8b02; color: #fff">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>