@{
    Layout = "_DashBoard";
}

<section class="w-100 px-4 py-5">
    <div class="row d-flex justify-content-center">
        <div class="w-100">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                 alt="Generic placeholder image"
                                 class="img-fluid"
                                 style="width: 180px; border-radius: 10px" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1">Menna Mohamed</h5>
                            <p class="mb-1 pb-1">Egyptian</p>
                            <hr />
                            <h6>Languages</h6>
                            <span>English |</span>
                            <span>Arabic | </span>
                            <span>French</span>
                            <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                <div>
                                    <p class="small text-muted mb-1">Tours</p>
                                    <p class="mb-0">15</p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-1">Rate</p>
                                    <p class="mb-0">4.5 / 5</p>
                                </div>
                            </div>
                            <div class="d-flex pt-1">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn me-1 text-light text-bolder" style="background-color: #fa8b02">Accept</button>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>