:root {
    --base-color: #fa8b02;
}

/* *********   ********    Details   ********   ******** */
.backBtn {
    cursor: pointer;
}
.backBtn span {
    color: #b0b0b0;
}
.container .pictures .pic img {
    width: 570px;
    margin-top: 20px;
}

.Box1 {
    display: flex;
}

.container .details button {
    width: 200px;
    height: 50px;
    background-color: var(--base-color);
    color: #fff;
    border: 0;
}
.container .details #groupSize,
.container .details #transportationType {
    width: 275px;
    height: 50px;
    padding: 0 7px 0 20px;
    border: 1px solid #c7c7c7;
    margin: 10px 0 15px 0;
    display: block;
}

.details .price span {
    color: var(--base-color);
    font-size: xx-large;
    font-weight: 700;
    margin: 15px;
}
.container .features i {
    color: var(--base-color);
}
.container .features .feature p span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer {
    background-color: #333333;
}
.footer i {
    color: var(--base-color);
}
@media (max-width: 780px) {
    .container .pictures .pic img {
        width: 331px;
    }
    .Box1 {
        display: grid;
        gap: 50px;
    }
    .container .pictures .threepic img {
        max-width: 95px;
    }
}
