@{
    Layout = "_Layout";
}

<a href="../index.html" class="backBtn w-25 container text-decoration-none">
    <i class="fa-solid fa-arrow-left" style="color: #b0b0b0"></i>
    <span>Back</span>
</a>

<div class="progress w-50 h-auto m-1">
    <div class="progress-bar" role="progressbar" style="width: 00%; background-color: #fa8b02; height: 5px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="buttons mt-5 mb-5">
    <div class="one">1</div>
    <div class="two">2</div>
    <div class="three">3</div>
</div>

<div class="container d-flex pb-5">
    <div class="left container mt-5">
        <h4>Select Your Tickets</h4>
        <p class="bg-light p-3">
            Free for kids under 6 and disabled visitors (74%+) <br />
            Pregnant women, families with strollers, and visitors on crutches can buy priority tickets at the venue
        </p>
        <div class="option d-flex justify-content-between p-3 mt-3">
            <div class="text">
                <h5>Adult (18+)</h5>
                <p>$34.00</p>
            </div>
            <div class="qty d-flex justify-content-end align-items-center">
                <span class="minus">-</span>
                <input type="number" class="count" name="qty" value="0" />
                <span class="plus">+</span>
            </div>
        </div>
        <div class="option d-flex justify-content-between p-3 mt-3">
            <div class="text">
                <h5>Child (6-17)</h5>
                <p>$34.00</p>
            </div>
            <div class="qty d-flex justify-content-end align-items-center">
                <span class="minus">-</span>
                <input type="number" class="count" name="qty" value="0" />
                <span class="plus">+</span>
            </div>
        </div>
        <div class="option d-flex justify-content-between p-3 mt-3 mb-5">
            <div class="text">
                <h5>Infant (0-5)</h5>
                <p>$34.00</p>
            </div>
            <div class="qty d-flex justify-content-end align-items-center">
                <span class="minus">-</span>
                <input type="number" class="count" name="qty" value="0" />
                <span class="plus">+</span>
            </div>
        </div>
    </div>
</div>

<div class="ticketOverview p-4 d-grid">
    <h3>Your Tickets Overview</h3>
    <div class="box d-flex mt-5 gap-4">
        <img src="../images/tripPic.png" alt="" srcset="" />
        <div class="text">
            <h5>Wine tasting In Tuscany</h5>
            <p><i class="fa-regular fa-calendar-days"></i>FRI, 23 DEC 2022</p>
            <p><i class="fa-regular fa-clock"></i>15:00</p>
        </div>
    </div>
    <div class="details d-grid gap-4 mt-4">
        <div class="one">
            <div class="circleCounter">2</div>
            <span>Adult (18+) (€32.00)</span>
            <span class="price">€64.00</span>
        </div>
        <div class="two">
            <div class="circleCounter">1</div>
            <span>Adult (18+) (€32.00)</span>
            <span class="price">€64.00</span>
        </div>
        <div class="three">
            <div class="circleCounter">1</div>
            <span>Adult (18+) (€32.00)</span>
            <span class="price">€64.00</span>
        </div>
        <div class="totalPrice">
            <span>Total Price</span>
            <span class="price">€86.00</span>
        </div>
    </div>
    <a class="nextStepBtnLink" asp-action="UserDetails"><button class="nextStepBtn w-75 mt-4">Go to the Next Step</button></a>
</div>

<script src="~/js/js/main.js"></script>
