@{
    Layout = "_Layout";
}

<div class="container d-grid gap-3 justify-content-center text-center pt-5">
    <i class="fa-solid fa-circle-check" style="color: #fa8b02; font-size: 60px"></i>
    <h3>Your Order is complete!</h3>
    <p>You will be receiving a confirmation email with order details.</p>
    <a asp-action="index" class="btnHome">Go to the Home Page</a>
    <a asp-action="Cart" class="btnHome">Go to Cart</a>
</div>