:root {
    --base-color: #fa8b02;
}

#navbar .navbar-item .nav-link {
    color: #e1e1e1;
    position: relative;
}
#navbar .navbar-item .nav-link:hover {
    color: #fff;
    transform: scale(1.05);
}

#navbar .navbar-item .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: var(--base-color);
    width: 0%;
    height: 2px;
    transform: translateX(-50%);
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

#navbar .navbar-item .nav-link:hover::before {
    visibility: visible;
    width: 80%;
}

button,
button.btn {
    transition: all 0.3s;
}
button:hover {
    transform: scale(1.05);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.accounts .btn {
    background-color: var(--base-color);
    margin: 0 10px;
}
#log_in {
    color: white;
    text-decoration: none;
}
span.btn i {
    font-size: 45px;
    color: #000;
}

/*  */
/*  */
/*  */

button:hover {
    transform: scale(1.05);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table tbody img {
    width: 120px;
    height: 90px;
}

table tbody td .d-grid {
    align-content: center;
    margin: 0px 30px;
}
table tbody td .d-grid h6,
table tbody td .d-grid p {
    margin: 5px;
}
table thead th {
    color: #b4b4b4;
}
.container .row .col-sm img {
    width: 250px;
    margin-bottom: 20px;
}
.container .row .col-sm span {
    color: var(--base-color);
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    font-size: larger;
}
.container .row .col-sm a {
    text-decoration: none;
    color: var(--base-color);
    transition: all 0.5s;
}

/*  */
/* Tour Packages */
/*  */

.packagesContainer .pBox {
    transition: all 0.5s;
    width: 250px;
}
.packagesContainer .pBox img {
    width: 250px;
}
.packagesContainer .pBox:hover {
    transform: scale(1.06);
}
.packagesContainer .pBox a {
    color: var(--base-color);
    text-decoration: none;
    transition: all 0.5s;
}
.packagesContainer .pBox:hover a {
    transform: translateX(15px);
    color: var(--base-color);
}
@media (max-width: 780px) {
    .packagesContainer .pBox {
        justify-items: center;
        margin: 0 0 25px 0;
    }
    .packagesContainer h4 {
        text-align: center;
    }
}

.pages a {
    width: 40px;
    height: 40px;
    color: var(--base-color);
    border-radius: 50%;
    border: 2px solid var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    text-decoration: none;
}
.pages a:hover,
.pages .active {
    background-color: var(--base-color);
    color: #fff;
}
